{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": 20
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
