node_modules
.vscode/
.github/
test
*.tgz
npm-debug.log
.npmignore
.gitignore
tsconfig.json
src/
.env
.env.example
.prettierignore
.prettierrc
eslint.config.js
tsconfig.test.json
tsup.config.ts
yarn.lock
vitest.config.mts
